<div class="head-section">
  <h1>Compare Windows</h1>
  <p>
    See what’s new in Windows 11, learn the difference between Windows 11 Home
    vs. Pro and versus Windows 10. Compare to find the right version of Windows
    for you.
  </p>
</div>
<div class="tabs">
  <ul class="tab-links">
    <li class="active"><a href="#tab1">Windows 11 vs. Windows 10</a></li>
    <li><a href="#tab2">Windows 11 Home vs. Pro</a></li>
  </ul>

  <div class="tab-content">
    <div id="tab1" class="tab active">
      <div class="comparetable responsivegrid">
        <link
          rel="stylesheet"
          href="/etc.clientlibs/mlsd/components/content/table/comparetable/v1/comparetable/clientlibs/site.min.ACSHASHd14042aa3b2d27ece7b9e33572133a5e.css"
          type="text/css"
        />

        <section
          class="fall-table theme-light no-toggle"
          style="background-color: ; color: "
          data-bi-an="body"
        >
          <div class="container">
            <div class="table-responsive">
              <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
                <div
                  class="tableRow aem-GridColumn aem-GridColumn--default--12"
                >
                  <link
                    rel="stylesheet"
                    href="/etc.clientlibs/mlsd/components/content/table/tableRow/v1/tableRow/clientlibs/site.min.ACSHASH1e27d646250b2aeafd1a99cc1076aacf.css"
                    type="text/css"
                  />
                </div>
              </div>
              <table
                class="table no-toggle table-bordered"
                id="comparetable-uid2360"
              >
                <thead class="divider-no-header">
                  <tr>
                    <th scope="col">
                      <div style="text-align: center">Feature</div>
                    </th>

                    <th scope="col">
                      <a
                        href="https://www.microsoft.com/en-hk/windows/windows-11"
                        data-bi-cn="windows 11"
                        data-bi-bhvr="OTHER"
                        data-bi-ct="text"
                        data-bi-id="n10r1a3"
                        >Windows 11</a
                      >
                    </th>

                    <th scope="col">Windows 10</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row" id="tableRow-uid210f">
                    <th scope="row">
                      <label>New interface</label>
                      <p class="table-row-desc">
                        Windows&nbsp;11 is easier on the eyes and easier to use.
                        We took the best elements of&nbsp;Windows&nbsp;10 and
                        refined them to create a soothing place to work and
                        play.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <link
                        rel="stylesheet"
                        href="/etc.clientlibs/mlsd/components/content/table/tableCell/v1/tableCell/clientlibs/site.min.ACSHASH7305f1e398d32d58602012ccf5fdfcf0.css"
                        type="text/css"
                      />

                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>

                      <script src="/etc.clientlibs/mlsd/components/content/table/tableCell/v1/tableCell/clientlibs/site.min.ACSHASH8e742d11d6b24c401e35f3b516726584.js"></script>
                    </td>

                    <td style="background-color: "></td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid5006">
                    <th scope="row">
                      <label>Wake on approach. Lock on leave.</label>
                      <p class="table-row-desc">
                        Windows&nbsp;11 can automatically wake up when you
                        approach and lock when you leave.&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: "></td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidb8ce">
                    <th scope="row">
                      <label>Smart App Control</label>
                      <p class="table-row-desc">
                        Exclusive to&nbsp;Windows&nbsp;11 is Smart App Control.
                        It provides a layer of security by only permitting apps
                        with good reputations to be installed. Only available on
                        the latest version of Windows&nbsp;11.&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: "></td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid941e">
                    <th scope="row">
                      <label>Seamless redocking</label>
                      <p class="table-row-desc">
                        If you connect your PC to an external
                        display,&nbsp;Windows&nbsp;11 can remember where you had
                        those windows when you leave, come back, and
                        reconnect.&nbsp; This feature is new and exclusive to Windows&nbsp;11.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: "></td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid180d">
                    <th scope="row">
                      <label>Live captions</label>
                      <p class="table-row-desc">
                        With live captions on Windows&nbsp;11, speech in
                        incoming audio (such as through a Microsoft Teams call)
                        can be transcribed into captions.&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: "></td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidb061">
                    <th scope="row">
                      <label>Natural Narrator</label>
                      <p class="table-row-desc">
                        To read, or to be read to? Natural Narrator can turn
                        text into spoken words.&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: "></td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid1ecf">
                    <th scope="row">
                      <label>Windows Studio Effects</label>
                      <p class="table-row-desc">
                        Background Blur, Eye Contact, Voice Focus and Automatic
                        Framing. Better video calling awaits.&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: "></td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidbef7">
                    <th scope="row">
                      <label>Controller bar</label>
                      <p class="table-row-desc">
                        Jump back into the game you last played or into a new
                        game entirely with the Controller bar.&nbsp; Only on Windows&nbsp;11.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: "></td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid8750">
                    <th scope="row">
                      <label>Auto HDR</label>
                      <p class="table-row-desc">
                        Auto HDR increases the range of colours both new and old
                        games can produce. Available only on Windows&nbsp;11,
                        this new calibration app increases control of
                        colour.&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: "></td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid7596">
                    <th scope="row">
                      <label>Widgets</label>
                      <p class="table-row-desc">
                        Widgets are new for Windows&nbsp;11. It’s best for
                        staying up to date with all the things you need to keep
                        tabs on: schedules, weather, stocks, sports—even
                        celebrity gossip.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: "></td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid7596">
                    <th scope="row">
                      <label>Windows Back-up</label>
                      <p class="table-row-desc">
                        Feel at home instantly on your new PC. With Windows
                        Backup,&nbsp; &nbsp;you can set things up to your liking by easily
                        transferring some of your favourite settings, files and
                        apps from your old PC.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>

                        <p></p>
                        <div class="mt-4"><p>Backup and restore</p></div>
                        <p></p>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>

                        <p></p>
                        <div class="mt-4"><p>Backup only</p></div>
                        <p></p>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid7596">
                    <th scope="row">
                      <label>Paint</label>
                      <p class="table-row-desc">
                        Paint is a simple and powerful graphics editor that
                        comes with Windows. You can use it to create and edit
                        images, draw shapes, add text, and more. New to
                        Windows&nbsp;11, Paint now comes with AI-powered
                        tools&nbsp; to help you edit images like a pro and create art
                        like a visionary.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>

                        <p></p>
                        <div class="mt-4">
                          <p>
                            Cocreator,&nbsp;<a
                              data-bi-cn="undefined"
                              data-bi-id="n26r1a3"
                            ></a
                            > &nbsp;Background Removal
                            &nbsp;and Layers
                          </p>
                        </div>
                        <p></p>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidda81">
                    <th scope="row">
                      <label>Sync your PC and phone</label>
                      <p class="table-row-desc">
                        Make and take calls. Reply to texts. Check and dismiss
                        notifications. Use
                        <a
                          aria-label="Sync your PC and phone with Phone Link"
                          href="https://www.microsoft.com/en-hk/windows/sync-across-your-devices"
                          class="ms-rte-link"
                          target="_self"
                          data-bi-cn="Phone Link"
                          data-bi-ecn="Phone Link"
                          data-bi-bhvr="OTHER"
                          data-bi-ct="text"
                          data-bi-id="n33r1a3"
                          >Phone Link</a
                        >
                        to do it all from your Windows PC without even taking
                        your phone out of your pocket. This feature is available
                        for Android™ and iPhone® devices in Windows&nbsp;11, and
                        is available for Android in Windows&nbsp;10.&nbsp;</p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>

                        <p></p>
                        <div class="mt-4"><p>Android and iPhone</p></div>
                        <p></p>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>

                        <p></p>
                        <div class="mt-4"><p>Android only</p></div>
                        <p></p>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidde02">
                    <th scope="row">
                      <label>Touchscreen</label>
                      <p class="table-row-desc">
                        While&nbsp;Windows&nbsp;10 worked well with touch
                        inputs&nbsp;,&nbsp;Windows&nbsp;11 has been designed with them in
                        mind for a true mouse-less or keyboard-less experience.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid3c34">
                    <th scope="row">
                      <label>Search</label>
                      <p class="table-row-desc">
                        You can find the Search bar in the Start Menu of
                        Windows&nbsp;11, and it can find whatever you can’t.
                        That’s files, apps, or anything you want online.
                        On&nbsp;Windows&nbsp;11 the Search bar is in a new, easy
                        to find, central location.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidcd08">
                    <th scope="row">
                      <label>TPM</label>
                      <p class="table-row-desc">
                        Trusted Platform Module (TPM) technology is designed to
                        provide hardware-based, security-related functions.
                        Windows 11 requires TPM 2.0 for features that rely on
                        the TPM for capabilities such as key generation, secure
                        storage, encryption, boot integrity measurements and
                        attestation. These capabilities help organisations
                        strengthen the protection of their identities and data.
                        TPM 2.0 includes support for newer algorithms, which
                        provides improvements like support for stronger
                        cryptography.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidf188">
                    <th scope="row">
                      <label>Microsoft Edge</label>
                      <p class="table-row-desc">
                        Microsoft Edge is optimised for Windows&nbsp;11. The
                        browser and OS will work together to bring you the
                        browsing speed and security you need.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid97ad">
                    <th scope="row">
                      <label>OneDrive backup</label>
                      <p class="table-row-desc">
                        OneDrive backup is available on
                        both&nbsp;Windows&nbsp;11 and 10, providing your photos,
                        documents and other files a second life if, for example,
                        your PC is stolen.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid9964">
                    <th scope="row">
                      <label>Windows Security app</label>
                      <p class="table-row-desc">
                        The Windows Security app serves as the security
                        dashboard and is available on both&nbsp;Windows&nbsp;10
                        and Windows&nbsp;11.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid1e10">
                    <th scope="row">
                      <label>Snap assist</label>
                      <p class="table-row-desc">
                        Snap assist makes the most of your screen space by
                        arranging your open windows into perfectly aligned
                        grids.&nbsp; And on Windows&nbsp;11, it’s now easier to find and use.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid5437">
                    <th scope="row">
                      <label>Desktop groups</label>
                      <p class="table-row-desc">
                        With desktop groups, you can organise your open apps and
                        windows into separate “desktops” to make it easier to
                        switch between work and play modes. It was introduced on
                        Windows&nbsp;10, but vastly improved for
                        Windows&nbsp;11.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid37de">
                    <th scope="row">
                      <label>Contrast themes</label>
                      <p class="table-row-desc">
                        High contrast themes are available in
                        both&nbsp;Windows&nbsp;10 and 11 to help those with low
                        vision see easier.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid66a5">
                    <th scope="row">
                      <label>Voice control</label>
                      <p class="table-row-desc">
                        Windows&nbsp;11&nbsp;can interpret your voice into
                        commands, like “Open [name of app]” or “Scroll Down”.
                        This feature builds on&nbsp;Windows&nbsp;10 and is
                        greatly enhanced on 11.&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid990f">
                    <th scope="row">
                      <label>Redesigned Microsoft Store</label>
                      <p class="table-row-desc">
                        The redesigned Microsoft Store makes finding apps, films
                        and TV programmes you love easy, and comes ready to do
                        so on both&nbsp;Windows&nbsp;10 and 11.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidf30e">
                    <th scope="row">
                      <label>Snipping tool</label>
                      <p class="table-row-desc">
                        Snipping Tool is available on both&nbsp;Windows&nbsp;10
                        and 11 to help users crop screenshots to share to others
                        exactly what you’re seeing.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid012b">
                    <th scope="row">
                      <label>Journal app</label>
                      <p class="table-row-desc">
                        The Journal app on&nbsp;Windows&nbsp;11 provides the
                        intimacy of handwriting&nbsp;
                        with the convenience of a digital app.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidd313">
                    <th scope="row">
                      <label>Clipchamp</label>
                      <p class="table-row-desc">
                        With dynamic templates&nbsp;
                        and dazzling effects, Clipchamp makes it easy for anyone
                        to edit videos like a pro. It comes built
                        into&nbsp;Windows&nbsp;11 but is available for Windows
                        10 via download from the Microsoft Store.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidd5d2">
                    <th scope="row">
                      <label>Digital pen</label>
                      <p class="table-row-desc">
                        Digital Pen&nbsp;
                        input on&nbsp;Windows&nbsp;11 builds on the progress
                        made on Windows&nbsp;10, providing an improved feel and
                        incorporating haptic feedback.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid5c09">
                    <th scope="row">
                      <label>Emojis</label>
                      <p class="table-row-desc">
                        Whenever words won't do, Emojis are just a couple clicks
                        away. And only&nbsp;Windows&nbsp;11 comes with the new
                        emoji clipboard (Win+V).&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid9bcb">
                    <th scope="row">
                      <label>DirectStorage</label>
                      <p class="table-row-desc">
                        Games with larger worlds that load in less time. It’s
                        possible with DirectStorage and available on both&nbsp;Windows&nbsp;10 and
                        11.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uidb491">
                    <th scope="row">
                      <label>DirectX 12 Ultimate</label>
                      <p class="table-row-desc">
                        This is what harnesses your hardware to produce stunning
                        graphics for your games and is available on
                        both&nbsp;Windows&nbsp;10 and 11.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid8623">
                    <th scope="row">
                      <label>3D spatial sound</label>
                      <p class="table-row-desc">
                        This technology makes it possible for you to perceive
                        the sources of sound in games.&nbsp; It requires compatible headphones and is
                        available on both&nbsp;Windows&nbsp;10 and 11.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid388e">
                    <th scope="row">
                      <label>PC Game Pass</label>
                      <p class="table-row-desc">
                        PC Game Pass grants you access to over a hundred games
                        for one low monthly membership fee and is available for
                        both&nbsp;Windows&nbsp;10 and 11.&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uida98b">
                    <th scope="row">
                      <label>Xbox game bar</label>
                      <p class="table-row-desc">
                        No need to Alt+tab to change songs, check graphics
                        performance, or find friends. Just use the hotkey Win+G
                        in&nbsp;Windows&nbsp;11 and 10 to bring up the overlay
                        made for better play.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid1b67">
                    <th scope="row">
                      <label>Get Started</label>
                      <p class="table-row-desc">
                        The Get Started app is designed to help you get to
                        know&nbsp;Windows&nbsp;11 better.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid65fe">
                    <th scope="row">
                      <label>Microsoft account</label>
                      <p class="table-row-desc">
                        A Microsoft account can be your one passport to all
                        things Microsoft, from Office to Xbox and more.
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uiddad1">
                    <th scope="row">
                      <label>OneDrive file transfer</label>
                      <p class="table-row-desc">
                        When you upgrade your Windows device, you can use
                        OneDrive file transfer to seamlessly roll over your
                        files and settings.&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>

                  <tr class="table-row" id="tableRow-uid53bc">
                    <th scope="row">
                      <label>Windows on ARM</label>
                      <p class="table-row-desc">
                        Devices with thin and light designs and amazing battery
                        life that run the apps you care about.&nbsp;
                      </p>
                    </th>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>

                    <td style="background-color: ">
                      <div class="text-center cell-bg-color">
                        <span
                          class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                        ></span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <script src="/etc.clientlibs/mlsd/components/content/table/comparetable/v1/comparetable/clientlibs/site.min.ACSHASH7815aeb3534f2a16ef657983744e88c6.js"></script>
      </div>
    </div>
    <div id="tab2" class="tab">
      <div class="responsivegrid MLSD All Styles Policy">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
          <div
            class="comparetable responsivegrid aem-GridColumn aem-GridColumn--default--12"
          >
            <section
              class="fall-table theme-light no-toggle"
              style="background-color: ; color: "
              data-bi-an="body"
            >
              <div class="container">
                <div class="table-responsive">
                  <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
                    <div
                      class="tableRow aem-GridColumn aem-GridColumn--default--12"
                    ></div>
                  </div>
                  <div
                    class="tableRow aem-GridColumn aem-GridColumn--default--12"
                  ></div>
                  <div
                    class="tableRow aem-GridColumn aem-GridColumn--default--12"
                  ></div>
                  <div
                    class="tableRow aem-GridColumn aem-GridColumn--default--12"
                  ></div>
                  <div
                    class="tableRow aem-GridColumn aem-GridColumn--default--12"
                  ></div>
                  <div
                    class="tableRow aem-GridColumn aem-GridColumn--default--12"
                  ></div>
                  <div
                    class="tableRow aem-GridColumn aem-GridColumn--default--12"
                  ></div>
                  <div
                    class="tableRow aem-GridColumn aem-GridColumn--default--12"
                  ></div>
                  <div
                    class="tableRow aem-GridColumn aem-GridColumn--default--12"
                  ></div>
                  <table
                    class="table no-toggle table-bordered"
                    id="comparetable-uid2360"
                  >
                    <thead class="divider-no-header">
                      <tr>
                        <th scope="col">
                          <div style="text-align: center">Feature</div>
                        </th>

                        <th scope="col">
                          <a
                            href="https://www.microsoft.com/en-hk/windows/windows-11"
                            data-bi-cn="windows 11 home"
                            data-bi-bhvr="OTHER"
                            data-bi-ct="text"
                            data-bi-id="n49r1a3"
                            >Windows 11 Home</a
                          >
                        </th>

                        <th scope="col">
                          <a
                            href="https://www.microsoft.com/windows/business/windows-11-pro"
                            data-bi-cn="windows 11 pro"
                            data-bi-bhvr="OTHER"
                            data-bi-ct="text"
                            data-bi-id="n50r1a3"
                            >Windows 11 Pro</a
                          >
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-row" id="tableRow-uid210f">
                        <th scope="row">
                          <label>BitLocker Drive Encryption</label>
                          <p class="table-row-desc">
                            If your device is lost or stolen, BitLocker puts
                            everything on lockdown, so no one else can access
                            your systems or data.&nbsp;
                          </p>
                        </th>

                        <td style="background-color: "></td>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>
                      </tr>

                      <tr class="table-row" id="tableRow-uid5487">
                        <th scope="row">
                          <label>Device encryption</label>
                          <p class="table-row-desc">
                            If you turn on device encryption, only authorised
                            individuals will be able to access your device and
                            data.&nbsp;
                          </p>
                        </th>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>
                      </tr>

                      <tr class="table-row" id="tableRow-uid2a29">
                        <th scope="row">
                          <label>Find my device</label>
                          <p class="table-row-desc">
                            Keep track of your devices - even your digital pen!
                          </p>
                        </th>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>
                      </tr>

                      <tr class="table-row" id="tableRow-uided0f">
                        <th scope="row">
                          <label>Firewall and network protection</label>
                          <p class="table-row-desc">
                            Your Windows device comes with built-in security
                            features to help safeguard against viruses, malware,
                            and ransomware.
                          </p>
                        </th>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>
                      </tr>

                      <tr class="table-row" id="tableRow-uid2ab4">
                        <th scope="row">
                          <label>Internet protection</label>
                          <p class="table-row-desc">
                            App &amp; browser control in Windows Security helps
                            protect your device from potentially dangerous apps,
                            files, websites and downloads.&nbsp;
                          </p>
                        </th>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>
                      </tr>

                      <tr class="table-row" id="tableRow-uidc958">
                        <th scope="row">
                          <label>Parental controls and protection</label>
                          <p class="table-row-desc">
                            Manage screen time, limit access to mature content,
                            and control online purchases when you connect your
                            family's Microsoft accounts.
                          </p>
                        </th>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>
                      </tr>

                      <tr class="table-row" id="tableRow-uid4796">
                        <th scope="row">
                          <label>Secure boot</label>
                          <p class="table-row-desc">
                            Helps prevent malicious software applications and
                            unauthorised operating systems from loading during
                            the system start-up process.
                          </p>
                        </th>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>
                      </tr>

                      <tr class="table-row" id="tableRow-uidcfd3">
                        <th scope="row">
                          <label>Windows Hello</label>
                          <p class="table-row-desc">
                            Uses facial recognition, fingerprint or PIN, for a
                            fast, secure and password-free way to unlock your
                            compatible Windows devices.&nbsp;
                          </p>
                        </th>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>
                      </tr>

                      <tr class="table-row" id="tableRow-uiddcf7">
                        <th scope="row">
                          <label>Windows Security</label>
                          <p class="table-row-desc">
                            View and manage the security and health of your
                            device.
                          </p>
                        </th>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>

                        <td style="background-color: ">
                          <div class="text-center cell-bg-color">
                            <span
                              class="tick-mark glyph-prepend glyph-prepend-check-mark primary-color"
                            ></span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  // script.js
$(document).ready(function() {
    $('.tab-links a').on('click', function(e) {
        e.preventDefault();
        
        var currentAttrValue = $(this).attr('href');

        // Show/Hide Tabs
        $('.tab' + currentAttrValue).addClass('active').siblings().removeClass('active');

        // Change/Remove current tab to active
        $(this).parent('li').addClass('active').siblings().removeClass('active');
    });
});

</script>
{% schema %}
  {
    "name": "Compare Windows",
    "class": "compare-windows",
    "settings": [],
    "presets": [
      {
        "name": "Compare Windows"
    
      }
    ]
  }
{% endschema %}