<div class="ms-digital_wrap">
  <h2>{{ section.settings.heading }}</h2>
 <div class="mas_main_container"> 
  <div class="digital-image">
    {{ section.settings.image | image_url: width:'736', height:'1270' | image_tag }}
  </div>
  <div class="digtal-html">
    {% for block in section.blocks %}
      <div class="html-content">
        {{ block.settings.html }}
      </div>
    {% endfor %}
  </div>
  </div> 
</div>
{% schema %}
{
  "name": "MS-Digital",
  "class": "ms-digital",
  "settings": [
     {
      "type": "text",
      "id": "heading",
      "label": "Heading",
       "default": "Elevate Your Digital Experience: Power, Protection, and Premium Support All in One!"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "name": "ms-block",
      "type": "block",
      "settings": [
        {
          "type": "html",
          "id": "html",
          "label": "HTML"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "MS-Digital"
      }
  ]
}
{% endschema %}