<style>
    .list-videos-reviews {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0px;
    }
    .list-videos-reviews li {
      width: 30.71%;
      margin: 0 30px 30px 0;
    }
    .list-videos-reviews li .video {
    position: relative;
    display: block;
    width: 100%;
    background-color: #000;
    cursor: pointer;
    }
    .list-videos-reviews li .video .iframe-thumbnail {
    display: block;
    width: 260px;
    height: 280px;
    margin: 0 auto;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
    }
    .list-videos-reviews li .video iframe.show {
    display: block;
    }
    .list-videos-reviews li .video .iframe-video {
    max-width: 100%;
    }
    .list-videos-reviews li .video .iframe-play {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    color: #fff;
    font-size: 80px;
    }
    .svg-inline--fa {
    width: 12px;
    }
    .list-videos-reviews li .video .iframe-video {
    max-width: 100%;
    }
    .list-videos-reviews li .video iframe {
    height: 280px;
    display: none;
    }
    .list-videos-reviews li .customer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    }
    .list-videos-reviews li .customer-info .customer-name h3 {
    margin: 0;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    }
    .rev_vdos-sec h2{
      width: 100%;
      display: block;
      color: #1266cc;
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      margin: 60px 0;
    }
  @media only screen and (max-width: 767px) {
     .content-reviews {
        padding: 0 20px;
      }
    #power_service_reviw {
      padding: 0 20px !important;
      }
    .trusted_business h4 {
     font-size: 40px!important;
     line-height: inherit !important;
     margin: 20px 0px 0;
    }
    .list-videos-reviews li {
      width: 100%;
      margin: 0;
    }
   }
</style>

<div class="max-width rev_vdos-sec">
  <div class="content-reviews">
    <h2>Our Amazing Feature Called Channels.</h2>
    <ul class="list-videos-reviews">
      <li id="video-0">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/ef019b6a-b423-42ae-a5a2-11944c82a638/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/aps57007t1jpl21zhuyhnn3dggeex4rsk8xzehvp"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/aps57007t1jpl21zhuyhnn3dggeex4rsk8xzehvp"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>nancy jane haag</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"

              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-1">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/15d68062-a2fc-4bf5-aa01-9059b40ef43a/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
        <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/a6x705ww891etpts8qmr3xbf6o4iow8abwqa2v05"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/a6x705ww891etpts8qmr3xbf6o4iow8abwqa2v05"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>David A Wright</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div> 
      </li>
      <li id="video-2">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/4311a575-bb8b-4ce2-9a1b-628d675dcfaf/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ajwssbkdc17b3g0y3nackydnrzlf4kvanj8jsd03"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ajwssbkdc17b3g0y3nackydnrzlf4kvanj8jsd03"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Blake Hirt</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-3">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/f7c6f702-4284-4bb5-a6db-c000cdde831d/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/a5wygx4ba8qy12gejkcocmohh6lao90cdldkp64b"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/a5wygx4ba8qy12gejkcocmohh6lao90cdldkp64b"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Kathy</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-4">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/69b9d838-f2a8-4e3e-9ee9-68a4ac898347/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/a9l2nkyutehfdkdvfm099qi2jkcoplnpn9w1lkoq"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/a9l2nkyutehfdkdvfm099qi2jkcoplnpn9w1lkoq"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Bibin Muttathan Baby</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-5">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/33de700a-add1-45ed-8ced-348a2e2268ac/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/axb9193xqn1vxtg1pyjuv8kzevpyrxa7v5epbawe"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/axb9193xqn1vxtg1pyjuv8kzevpyrxa7v5epbawe"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Kjerstyn</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-6">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/e569e9bb-630f-4f07-87e7-d5117e1258c5/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/au6ide91zkloicqm74sks5br1oqv3mt5dbmpdyrz"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/au6ide91zkloicqm74sks5br1oqv3mt5dbmpdyrz"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Sylvain Thibault</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-7">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/d46b649b-8aaa-4388-b659-f37e290ac356/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/a3h7y50reeypoaj2ovgs8abl8pdvt5ftni4xk6pi"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/a3h7y50reeypoaj2ovgs8abl8pdvt5ftni4xk6pi"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Sylvain Thibault</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-8">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/ec90ba70-aabb-4343-a1c0-012055f4ec38/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ajumt5m3u4nuzkva5jrottm8swm7hxtsysioo1v5"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ajumt5m3u4nuzkva5jrottm8swm7hxtsysioo1v5"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Wendy Lambert</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-9">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/e7562ed3-5c67-4bc6-b4a4-276e8e152019/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/a2mgax10c729fwyqaq9kbdamv23kmcd2ytuv3rkn"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/a2mgax10c729fwyqaq9kbdamv23kmcd2ytuv3rkn"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Victoria Braud</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-10">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/4b0adf9b-0063-4326-84ea-c47c53dd2cfa/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ac8m2qt2x1bdfixhbulnm1yvqebbaqiha623safp"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ac8m2qt2x1bdfixhbulnm1yvqebbaqiha623safp"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Megan Doolittle</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-11">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/5c2b5da8-0c5a-4bd4-9653-cc147ad5465d/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/a7vjarf226fwwfggmayqisq6y7i5nxobqt6n8q6e"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/a7vjarf226fwwfggmayqisq6y7i5nxobqt6n8q6e"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Devon Jaglowski</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-12">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/ecfedc66-f271-42e4-b2f4-5b14df626fad/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ak7nbi01czbq7ogtdcn979zawqi0m3vd265txf5n"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ak7nbi01czbq7ogtdcn979zawqi0m3vd265txf5n"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Barbara Kirton</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-13">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/869045f2-802d-449f-a6af-0ee441f19670/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ax154cv1drwu8bl7oonbnnzbu597cqsyfd7iu7zo"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ax154cv1drwu8bl7oonbnnzbu597cqsyfd7iu7zo"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>SylvesterGarnett</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-14">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/00013856-4d00-4742-9db4-b949926fd812/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/angtqw6mb038wgmjegqq0av1mhttifxfkhw44kqf"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/angtqw6mb038wgmjegqq0av1mhttifxfkhw44kqf"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Don Murray</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-15">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/e85dc246-b0eb-480f-8409-91c721ec65f6/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ay1bvr32j6o87ve41lrrxrpk5kvyo65x8h7lniq4"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ay1bvr32j6o87ve41lrrxrpk5kvyo65x8h7lniq4"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>David Kozlowski</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-16">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/dfc948f1-6b99-4464-a9c8-68f16699c099/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/af8guh1j9bot48rxd0nh84yu0k9glsnjd2m6w198"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/af8guh1j9bot48rxd0nh84yu0k9glsnjd2m6w198"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Deeray Garcia</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-17">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/1eef9064-2433-4301-8347-f2db5fe8250e/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/antfqccx68p0a9ibgbbxji0m2muf3dref9zehnbc"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/antfqccx68p0a9ibgbbxji0m2muf3dref9zehnbc"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Justine Birabwa</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-18">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/79246f70-383f-4823-a259-5a4357b9c3e3/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/aoo27acdz5gy9plic5zp6mwzjh2nubkoxb0w9so8"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/aoo27acdz5gy9plic5zp6mwzjh2nubkoxb0w9so8"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>tassat</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-19">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/1bdd86d0-9474-4783-910c-6b2fb586e242/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ajii36qa6rd567dof3nsgfiull4s7t74i9dtzzpu"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ajii36qa6rd567dof3nsgfiull4s7t74i9dtzzpu"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>wandalee lapensee</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-20">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/4a419855-a140-4e54-915a-a74414db7df1/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/a9duu5dhbssyvb5luj3c9nhgrb3pxoj7ilon7tqr"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/a9duu5dhbssyvb5luj3c9nhgrb3pxoj7ilon7tqr"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Mathieu Gaouette</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-21">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/d3989dcb-d232-4b64-be79-e8760df26f33/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/av43dqwmdz85oyilu1o40bk7lh21ubuw4zvgpeud"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/av43dqwmdz85oyilu1o40bk7lh21ubuw4zvgpeud"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Kayla Russman-Walberg</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-22">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/671e52f1-facd-4ea8-ad65-96c48c55a539/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ad88nw2ydbdivee37pck0ho7hyuygp5kh5lna6sh"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ad88nw2ydbdivee37pck0ho7hyuygp5kh5lna6sh"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Rolly Martesano</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-23">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/f63d9c7f-bc8b-42ba-91e1-71b21e786ee8/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ab6f0r891l83uu745m6anzcup2xicskou15ejpmw"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ab6f0r891l83uu745m6anzcup2xicskou15ejpmw"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Brian Haack</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-24">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/14e5f6cb-06af-4762-8ab8-eefccf8fbcb6/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ahupo1qoio0san5v4sdk1udf9a5ix9e984l81zp3"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ahupo1qoio0san5v4sdk1udf9a5ix9e984l81zp3"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Dan Landis</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-25">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/f3b6ea23-b144-42c0-9f4c-3eddca6c1ba1/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/a7so8rjnson720qig73b11zs471g23dkm93k568q"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/a7so8rjnson720qig73b11zs471g23dkm93k568q"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Elisabeth Talis</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-26">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/9b2631ec-4dba-492a-b2d1-532074111a0a/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
          <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/ajz8wjtg821aec0yl5yxzi7xz120do3doctq4ela"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/ajz8wjtg821aec0yl5yxzi7xz120do3doctq4ela"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>Rodney Peterson</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div>
      </li>
      <li id="video-27">
        <div class="video">
          <span
            class="iframe-thumbnail"
            style="background-image: url(&quot;https://media.videoask.com/transcoded/66e61c45-e189-4b1c-afa2-9579550eeb76/thumbnails/image.0000002.jpg&quot;); display: none;"
          ></span>
          <div class="iframe-play" style="display: none;">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="circle-play"
              class="svg-inline--fa fa-circle-play "
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path fill="currentColor" d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
            </svg>
          </div>
         {% comment %} <iframe
            class="iframe-video show"
            width="100%"
            data-src="https://www.videoask.com/a6x705ww891etpts8qmr3xbf6o4iow8abwqa2v05"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            src="https://www.videoask.com/a6x705ww891etpts8qmr3xbf6o4iow8abwqa2v05"
          ></iframe>
        </div>
        <div class="customer-info">
          <div class="customer-name">
            <h3>David A Wright</h3>
          </div>
          <div>
            <img
              alt="Icon Guaranteees"
              title="Lifetime product guarantee"
              loading="lazy"
              width="132"
              height="24"
              src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/vido-icon-rating.png?v=1708675186"
              style="color: transparent;"
            >
          </div>
        </div> {% endcomment %}
      </li>
    </ul>
  </div>
</div>
{% schema %}
{
  "name": "Video Review",
  "settings": [
    {
      "type": "text",
      "id": "sec_title",
      "label": "Heading"
    }
  ],
    "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ],
  "presets": [{"name": "Video Review"}]
}
{% endschema %}
