@tailwind utilities;

.animate-move-left {
  animation: move-left 50s linear infinite;
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1.25rem));
  }
}

@keyframes scrollReverse {
  from {
    transform: translateX(calc(-100% - 1.25rem));
  }
  to {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.animate-scroll-reverse {
  animation: scrollReverse 60s linear infinite;
}

.marquee:hover .animate-scroll,
.marquee:hover .animate-scroll-reverse {
  animation-play-state: paused;
}
